<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>TripFinder</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/plugins/vegas.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/reset.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
</head>
<body class="loader-active">
    <div class="preloader">
        <div class="preloader-spinner">
            <div class="loader-content">
                <img src="/img/preloader.gif" alt="JSOFT" style="width:400%; height:400%">
            </div>
        </div>
    </div>
    <header id="header-area" class="fixed-top">
        <div id="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
                            <img src="/img/logo.png" alt="JSOFT">
                        </a>
                    </div>
                    <div class="col-lg-10 d-none d-xl-block">
                        <nav class="mainmenu alignright">
                            <ul>
                                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                                <partial name="_LoginPartial" />
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <section id="footer-area">
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/lib/jquery/dist/jquery-3.2.1.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-migrate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/plugins/vegas.min.js"></script>
    <script src="~/js/main.js"></script>
    @this.RenderSection("Scripts", required: false)
</body>
</html>