@using Microsoft.AspNetCore.Identity
@using TripFinder.Data.Models
@inject SignInManager<ApplicationUser> SignInManager

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/Home/About">About</a></li>
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li><a href="/Users/Profile">Profile</a></li>
        <li><a href="cars.html">Cars</a></li>
        <li>
            <a href="index.html">Pages</a>
            <ul>
                <li><a href="package.html">Pricing</a></li>
                <li><a href="driver.html">Driver</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="help-desk.html">Help Desk</a></li>
                <li><a href="404.html">404</a></li>
            </ul>
        </li>
        <li><a href="/Users/Logout">Log out</a></li>
    }
    else
    {
        <li><a href="/Users/Login">Log in</a></li>
        <li><a href="/Users/Register">Sign up</a></li>
    }
</ul>