@using Microsoft.AspNetCore.Identity
@using TripFinder.Data.Models
@inject SignInManager<ApplicationUser> SignInManager

@if (this.SignInManager.IsSignedIn(this.User))
{
    <li><a asp-area="" asp-controller="Users" asp-action="Profile">Profile</a></li>
    <li><a asp-area="Identity" asp-page="/Account/Logout">Log out</a></li>
}
else
{
    <li><a asp-area="Identity" asp-page="/Account/Login">Log in</a></li>
    <li><a asp-area="Identity" asp-page="/Account/Register">Sign up</a></li>
}
