@model TripFinder.Web.ViewModels.Administration.Dashboard.StatisticsViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<section id="page-title-area" class="section-padding overlay">
    <div class="container d-table-cell align-middle">
        <div class="row section-title text-center">
            <div class="col-4">
                <a class="btn-lg btn-danger" asp-area="Administration" asp-controller="Dashboard" asp-action="AllUsers">Users</a>
            </div>
            <div class="col-4">
                <a class="btn-lg btn-danger" asp-area="Administration" asp-controller="Dashboard" asp-action="AllCars">Cars</a>
            </div>
            <div class="col-4">
                <a class="btn-lg btn-danger" asp-area="Administration" asp-controller="Dashboard" asp-action="CarsTrips">Trips</a>
            </div>
        </div>
    </div>
</section>