@model TripFinder.Web.ViewModels.Trips.TripDeleteViewModel;

@{
    ViewData["Title"] = "Delete";
}

<section id="page-title-area" class="section-padding overlay">
    <div class="container d-table-cell align-middle">
        <div class="row justify-content-center">
            <div class="col-md-8 form">
                <h3>Are you sure you want to delete this trip from TripFinder?</h3>
                <form class="row mb-3" method="post">
                    <div class="col-4 col-md-auto">
                        <button class="btn btn-danger btn-lg" type="submit" asp-area="" asp-controller="Trips" asp-action="DeletePost" asp-route-id="@Model.Id"><i class="fa fa-trash"></i> Delete trip</button>
                        <button class="btn btn-outline-warning btn-lg" type="submit" asp-area="" asp-controller="Trips" asp-action="Details" asp-route-id="@Model.Id"><i class="fa fa-undo"></i> Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>