<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>About us</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <h3>TripFinder is shared travel app, which helps you find trips and passengers for given destination easy and fast.</h3>
                    <hr>
                    <h5>
                        <i class="fa fa-circle mr-2"></i>
                        Drivers create trip and wait for passengers to apply.
                    </h5>
                    <hr>
                    <h5>
                        <i class="fa fa-circle mr-2"></i>
                        Passengers see only trips whose origin, destination and date they choose.
                    </h5>
                    <hr>
                    <h5>
                        <i class="fa fa-circle mr-2"></i>
                        Trips always include travel expenses per person.
                    </h5>
                    <hr>
                    <h5>
                        <i class="fa fa-circle mr-2"></i>
                        Drivers and the passengers can see each other phone numbers only after approval for the trip.
                    </h5>
                    <hr>
                    <h5>
                        <i class="fa fa-circle mr-2"></i>
                        If there are more candidates for given trip than available seats, the rest of the candidates are rejected automatically.
                    </h5>
                    <hr>
                    <h5>
                        <i class="fa fa-circle mr-2"></i>
                        Driver and passengers from same trip can give reviews one hour after the trip ends.
                    </h5>
                    <hr>
                    <h5>
                        <i class="fa fa-circle mr-2"></i>
                        Driver and passengers from same trip can also see each other's rating and reviews.
                    </h5>
                    <hr>
                    <h5>
                        <i class="fa fa-circle mr-2"></i>
                        Trips always include information about the car - how many available seats has, are drinks allowed,
                        is food allowed, is smoking allowed, are pets allowed, and if it has place for luggage and air conditioner.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>