@using TripFinder.Common

@{
    this.ViewData["Title"] = @GlobalConstants.SystemName + " Privacy Policy";
}

<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Privacy Policy of TripFinder</h1>

                <p>
                    Mert Yumer built the @GlobalConstants.SystemName app as an Open Source app. This SERVICE is provided by @GlobalConstants.OwnerName at no cost and is intended for use as is.
                </p>

                <p>This page is used to inform website visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service, the TripFinder website.</p>

                <p>If you choose to use my Service, then you agree to the collection and use of information in relation with this policy. The Personal Information that I collect are used for providing and improving the Service. I will not use or share your information with anyone except as described in this Privacy Policy.</p>

                <hr />

                <h3>Information Collection and Use</h3>

                <p>
                    For a better experience, while using our Service, I may require you to provide me with certain personally identifiable information. The information that I request will be
                    retained on your device and is not collected by me in any way.
                </p>

                <p>
                    The app does use third party services that may collect information used to identify you.
                </p>
                <div>
                    <p>
                        Link to privacy policy of third party service providers used by the app
                    </p>
                    <ul>
                        <li><a href="https://cloudinary.com/privacy" target="_blank">Cloudinary</a></li>
                    </ul>
                </div>

                <hr />

                <h3>Log Data</h3>

                <p>I want to inform you that whenever you visit my Service, I collect information that your browser sends to us that is called Log Data. This Log Data may include information such as your computer’s Internet Protocol ("IP") address, browser version, pages of our Service that you visit, the time and date of your visit, the time spent on those pages, and other statistics.</p>

                <hr />

                <h3>Cookies</h3>

                <p>Cookies are files with small amount of data that is commonly used an anonymous unique identifier. These are sent to your browser from the website that you visit and are stored on your computer’s hard drive.</p>

                <p>My website uses these "cookies" to collection information and to improve my Service. You have the option to either accept or refuse these cookies, and know when a cookie is being sent to your computer. If you choose to refuse our cookies, you may not be able to use some portions of our Service.</p>

                <p>For more general information on cookies, please read <a href="https://www.cookieconsent.com/what-are-cookies/">"What Are Cookies"</a>.</p>

                <hr />

                <h3>Service Providers</h3>

                <p>I may employ third-party companies and individuals due to the following reasons:</p>

                <ul>
                    <li>To facilitate our Service;</li>
                    <li>To provide the Service on our behalf;</li>
                    <li>To perform Service-related services; or</li>
                    <li>To assist us in analyzing how our Service is used.</li>
                </ul>

                <p>I want to inform users of this Service that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.</p>

                <hr />

                <h3>Security</h3>

                <p>I value your trust in providing me your Personal Information, thus I am striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and I cannot guarantee its absolute security.</p>

                <hr />

                <h3>Links to Other Sites</h3>

                <p>This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, I strongly advise you to review the Privacy Policy of these websites. I have no control over, and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>

                <p>Children's Privacy</p>

                <p>These Services do not address anyone under the age of 13. We do not knowingly collect personal identifiable information from children under 13. In the case I discover that a child under 13 has provided us with personal information, I immediately delete this from the servers. If you are a parent or guardian and you are aware that your child has provided me with personal information, please contact us so that I will be able to do necessary actions.</p>

                <hr />

                <h3>Changes to This Privacy Policy</h3>

                <p>I may update our Privacy Policy from time to time. Thus, I advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.</p>

                <hr />

                <h3>Contact Us</h3>

                <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact me on @GlobalConstants.SystemEmail.</p>
            </div>
        </div>
    </div>
</section>