@page
@model TripFinder.Web.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Sign up</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-8 m-auto">
                <div class="login-page-content">
                    <div class="login-form">
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="name">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input asp-for="Input.FirstName" type="text" placeholder="First Name">
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <input asp-for="Input.LastName" type="text" placeholder="Last Name">
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="email">
                                <input asp-for="Input.Email" type="email" placeholder="Email">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="phone-number">
                                <input asp-for="Input.PhoneNumber" type="text" placeholder="Phone Number">
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="password">
                                <input asp-for="Input.Password" type="password" placeholder="Password">
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="confirmPassword">
                                <input asp-for="Input.ConfirmPassword" type="password" placeholder="Confirm Password">
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="log-btn">
                                <button type="submit"><i class="fa fa-check-square"></i> Sign Up</button>
                            </div>
                        </form>
                    </div>
                    <div class="create-ac">
                        <p>Have an account? <a asp-page="./Login">Log In</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
